/*Variáveis dos recursos da página*/
:root {
    /*Cores*/
    --cor-detalhe: #fe3f6c;
    --cor-detalhe2: #fe3f6c27;
    --cor-detalhe3: #FF91C1;
    --cor-branco: #FFF;
    --cor-preto: #000000d2;
    --cor-fundo: #D9D9D9;

    /*Fontes*/
    --calibri: "Calibri", "Verdana", sans-serif;
    --bauhaus: "Bauhaus", "Garamond", serif;
}

h1 {
    font-size: 31px;
    font-weight: bold;
    padding-top: 10px;
    margin-left: 20px;
}

hr {
    color: var(--cor-detalhe);
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid var(--cor-detalhe);
}

.formulario {
    border: 3px solid var(--cor-detalhe);
    border-radius: 20px;
    margin: 20px;
    padding-bottom: 30px;
}

.formulario span {
    font-weight: 700;
}

.form-input {
    margin: 10px;
    border: 2px solid var(--cor-detalhe);
    border-radius: 10px;
    width: 95%;
}

.form-input:focus {
    box-shadow: var(--cor-detalhe);
}

.botao-enviar {
    background-color: var(--cor-detalhe);
    border: var(--cor-detalhe);
    margin-left: 90%;
    font-weight: 700;
}

.botao-enviar:hover {
    background-color: var(--cor-detalhe3);
    
}

.check {
    border: 5px solid var(--cor-detalhe);
    height: 40px;
    width: 40px;
}

.input-box:focus {
    box-shadow: 0px 0px 5px var(--cor-detalhe);
    border: 1px solid var(--cor-detalhe);
}