/*Variáveis dos recursos da página*/
:root {
    /*Cores*/
    --cor-detalhe: #fe3f6c;
    --cor-detalhe2: #fe3f6c27;
    --cor-detalhe3: #FF91C1;
    --cor-branco: #FFF;
    --cor-preto: #000000d2;
    --cor-fundo: #D9D9D9;

    /*Fontes*/
    --calibri: "Calibri", "Verdana", sans-serif;
    --bauhaus: "Bauhaus", "Garamond", serif;
}

h1 {
    font-size: 31px;
    font-weight: bold;
    padding-top: 50px;
    margin-left: 10px;
}

hr {
    color: var(--cor-detalhe);
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid var(--cor-detalhe);
}

.formulario #check-texto {
    padding-top: 15px;
    padding-left: 10px;
}

#check-anonimo:checked {
    background-color: var(--cor-detalhe);
}

#check-anonimo:focus {
    border: 5px solid var(--cor-detalhe);
    box-shadow: 0px 0px 5px var(--cor-detalhe);
    height: 40px;
    width: 40px;
}

#check-box {
    margin-left: 86%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}
