/*Configura os caracteres para UTF-8*/
@charset "UFT-8";

/*Importa fontes especiais*/
@import url();

/*Reseta todos os parâmetros pré-definidos de todos os navegadores*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*Variáveis dos recursos da página*/
:root {
    /*Cores*/
    --cor-detalhe: #fe3f6c;
    --cor-branco: #FFF;
    --cor-preto: #000000d2;
    --cor-fundo: #EBEBEB;

    /*Fontes*/
}

#menu-superior {
    display:flex;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0px;
    box-shadow: 0 0 0 3px var(--cor-detalhe) inset; 
    align-items: center;
    gap:5px;
}

#menu-superior a {
    font-weight: 600;
    font-size: 20px;
    color: var(--cor-preto);
    text-decoration: none;

    transition: 0.5s;
}

#menu-superior a:hover {
    color: var(--cor-detalhe)
}

#nav-off-canvas {

    font-size: 40px;
    cursor: pointer;

}

#menu-lateral {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    background-color: var(--cor-branco);
    box-shadow: 0 0 0 3px var(--cor-detalhe) inset;
    overflow-x: hidden;
    transition: 0.5s;

    padding-top: 20px;
    margin-top: 57px;

}

#menu-lateral a{
    font-weight: 600;
    font-size: 20px;
    color: var(--cor-preto);
    text-decoration: none;

    transition: 0.5s;

}
#menu-lateral a:hover {
    color: var(--cor-detalhe);
}

.elementos-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-top: 1px;
    margin-left: 6px;
    margin-right: 30px;
}

#logo{
    height: 35px;
}

.barra-pesquisa {
    margin-left: auto;
    margin-right: auto;
    
    max-width: 500px; 
    width: 100%; 

    padding: 8px 12px;
    color: var(--cor-branco);
    background-color: var(--cor-preto);
    border-radius: 20px;
}

#icone-sobre {
    max-width: 15px;
    height: auto;
}

/* Assets da Home! ↓ */
.nav-home {
    display:flex;

}
.link-home {
    font-weight: 600;
    font-size: 16px;
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    box-shadow: 0 0 0 2px var(--cor-detalhe) inset;

    height: 30px;
    width: 100%;
    
    text-align: center;
    text-decoration: none;

    transition: 0.5s;

}

.link-home:hover {
    background-color: var(--cor-detalhe);
    color: var(--cor-branco);
}

#principal {
    transition:margin-left .5s;
}