/*Vari치veis dos recursos da p치gina*/
/*Vari치veis dos recursos da p치gina*/
:root {
    /*Cores*/
    --cor-detalhe: #fe3f6c;
    --cor-hover: #FE7F9D;
    --cor-ativa: #740002;
    --cor-branco: #FFF;
    --cor-preto: #000000d2;
    --cor-preto2: #00000098; /*Cor das bordas*/
    --cor-fundo: #D9D9D9;

    /*Fontes*/
    --calibri: "Calibri", "Verdana", sans-serif;
    --bauhaus: "Bauhaus", "Garamond", serif;
}

h1 {
    font-size: 31px;
    font-weight: bold;

    padding-top: 70px;
    padding-left: 15px;
    padding-bottom: 25px;
    
}

#mapa-principal {
    width: 100%;
    height: 100%;
    position: absolute;
}

#menu-suspenso {
    background-color: var(--cor-detalhe);
    width: 350px;
    height: 70px;
    border-radius: 50px;
    position: relative;
    margin: auto;
    top: 470px;
    box-shadow: 0 2px 10px var(--cor-detalhe);
    padding-top: 15px;
    padding-right: 35px;
}

#menu-s-itens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#menu-s-itens li {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#menu-s-itens li:hover {
    transform: translateY(-40px)
}

#menu-s-itens li a {
    display: block;
    width: 100%;
    height: 100%;
}

.imagem-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.imagem-branca {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.imagem-color {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#menu-s-itens li:hover .imagem-branca {
    opacity: 0;
}

#menu-s-itens li:hover .imagem-color {
    opacity: 1;
}

.star-rating {
        direction: rtl;
        display: inline-block;
        cursor: pointer;
    }

    .star-rating input {
        display: none;
    }

    .star-rating label {
        color: #ddd;
        font-size: 24px;
        padding: 0 2px;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    .star-rating label:hover,
    .star-rating label:hover~label,
    .star-rating input:checked~label {
        color: #ffc107;
    }
