/*Variáveis dos recursos da página*/
:root {
    /*Cores*/
    --cor-detalhe: #fe3f6c;
    --cor-detalhe2: #fe3f6c27;
    --cor-detalhe3: #FF91C1;
    --cor-branco: #FFF;
    --cor-preto: #000000d2;
    --cor-fundo: #D9D9D9;

    /*Fontes*/
    --calibri: "Calibri", "Verdana", sans-serif;
    --bauhaus: "Bauhaus", "Garamond", serif;
}

.principal {
}

#mapa-principal {
    width: 100%;
    height: 100%;
    position: absolute;
}

#menu-suspenso {
    background-color: var(--cor-detalhe);
    width: 350px;
    border-radius: 50px;
    position: relative;
    margin: auto;
    top: 470px;
}

#menu-suspenso ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
