/*Variáveis dos recursos da página*/
:root {
    /*Cores*/
    --cor-detalhe: #fe3f6c;
    --cor-hover: #fe7f9d49;
    --cor-ativa: #740002;
    --cor-branco: #FFF;
    --cor-preto: #000000d2;
    --cor-preto2: #00000098; /*Cor das bordas*/
    --cor-preto3: #000000d3;
    --cor-fundo: #D9D9D9;

    /*Fontes*/
    --calibri: "Calibri", "Verdana", sans-serif;
    --bauhaus: "Bauhaus", "Garamond", serif;
}

h1 {
    font-size: 31px;
    font-weight: bold;

    padding-top: 100px;
    padding-left: 25px;
    padding-bottom: 25px;
    
}

.formulario {
    margin: auto;
    padding: 25px;
    background-color: var(--cor-fundo);
    border: 3px solid var(--cor-preto2);
    width: 70%;
}

.formulario label {
    font-size: 31px;
}

.formulario input {
    background-color: var(--cor-hover);
    height: 50px;
    margin-bottom: 10px;
}

.formulario input:focus {
    box-shadow: 0px 0px 5px var(--cor-detalhe);
    border: var(--cor-hover);
}

.formulario input:invalid{
    border: 2px solid red;
}

#data-nasc {
    width: 150px;
}

#check {
    display: flex;
    flex-direction: row;
}

#check-concordo {
    border: 5px solid var(--cor-detalhe);
    background-color: var(--cor-fundo);
    height: 40px;
    width: 40px;
}

#check-texto {
    padding: 10px;
}

#check-concordo:checked {
    background-color: var(--cor-detalhe);
}

p {
    font-size: 19px;
    margin-bottom: -5px;
}

#botao-cadastrar {
    margin-top: 50px;
    margin-left: 40%;
    margin-bottom: 20px;
    font-size: 31px;
    font-weight: bold;
    background-color: var(--cor-detalhe);
    border: var(--cor-detalhe);
}

#botao-cadastrar:hover {
    background-color: var(--cor-hover);
}
